<div class="home-page">
  <div class="home-page-title">
    <span class="home-page-title-text">Jokes</span>
    <app-switcher
      [items]="switcherItems"
      [formControl]='switcherControl'
      class="home-page-title-toggle"
      />
  </div>

  @switch (switcherControl.value) {
    @case (switcherElements.NgRx) { <app-ngrx/>}
    @case (switcherElements.Observables) { <app-observables/> }
    @case (switcherElements.Signals) { <app-signals/>}
  }
</div>

@if (isLoading$ | async) {
<section class="spinner-container">
  <mat-spinner />
</section>
}
